<div *ngIf="videoItems.length > 0; else noData">
  <app-video-list [videoItems]="videoItems"></app-video-list>

  <button class="btn btn-prev"
          (click)="onGetNewPageTap(prevPageToken)"
          [disabled]="!prevPageToken"
  >Previous
  </button>
  <button class="btn btn-next"
          (click)="onGetNewPageTap(nextPageToken)"
          [disabled]="!nextPageToken"
  >Next
  </button>
</div>

<ng-template #noData>
  <div class="error-msg">
    Server error. Please try again later.
  </div>
</ng-template>
